@import "bootstrap";

.right {
	float: right;
}
.left {
	float: left;
}
.clear-both {
	clear: both;
}

.input-a{
  border: 1px solid #bbb;
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

#signup-box {
	width:50%
}	